body{
    text-align: center;
}
h1 {
    font-size: 42px;
    letter-spacing: 5px;
}
h2 {
    font-size: 28px;
}
h1, h2 {
    color: white;
    font-weight: bold;
    margin: 0.25em;
}
.card {
    max-width: 40%;
    margin: 0 auto;
    background-color: red;
    border-radius: 25px;
}
.name {
    font-size: 48px;
    font-weight: bold;
    background-color: white;
    height: 100px;
    padding-top: 50px;
    margin-top: 0;
}



